* {
    box-sizing: border-box;
    margin: 0%;
}
/* added universal element for entire page */

body {
    background-color: white;
    width: 100%;
}
/* added white background */
/* added width */

h1 {
    font-size: 55px;
}
/* increased size of h1 */

.header {
    padding: 15px;
    background-color: #015b6b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
/* added padding and background */

.header img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/* added dimensions to photo to fit the header */

.header a {
    font-size: 50px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    text-decoration: none;
}
/* adjusted font of a for appeal in header */

.header nav li {
    display: flex;
    justify-content: space-between;
}
/* aligned the lists horizontally above the image */

.about {
    box-sizing: border-box;
    border-right: 6px solid black;
    background: #015b6b;
    margin-right: 300px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    color: white;
}
/* added the border box and adjusted the values for the box to fit */

.about-container {
    position: absolute;
    left: 82%;
    color: black;
}
/* added this selector to adjust the position of the h2 header  */

h2 {
    font-size: 40px;
}
/* increased font of h2 header to compliment design */

.project h2 {
    text-align: center;
}

.project ul {
    box-sizing: border-box;
    background-color: #015b6b;
    margin: 10px;
    border-top: 6px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.image-1 {
    height: 350px;
    width: 350px;
}

.image-2 {
    height: 300px;
    width: 300px;
}

.contact ul {
    background-color: #015b6b;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: 10px;
}    
/* centered content and added background color */

a {
    font-size: 25px;
    color: white;
}
